header{
	display: inline-block;
}

#teaser {
  filter: none;
}

#vehicles .vehicle-nav li.active {
	background-color: #088c18;
}

#vehicles .vehicle-nav li.active span {
	border-left-color: #088c18;
}

#vehicles .vehicle-price {
	background-color: #d2dbd2;
}

#teaser .carousel-control.left {
left: 90%;
display: inline-block;
margin-right: 10px;
}

#teaser .carousel-control.right {
left: 90%;
display: inline-block;
margin-left: 10px;
}